<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-tittle">Planeta Covid-19</h4>
                        <p class="card-category">Mueve el cursor sobre un país para ver su estado</p>
                    </div>
                    <div class="card-body">
                        <div [chart]="mapChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
