<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-primary card-header-icon">
                      <div class="card-icon">
                        <i class="fas fa-biohazard"></i>
                      </div>
                      <p class="card-category">Contagios totales</p>
                      <h3 class="card-title">+7.7 Mill</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">update</i>Informe de la OMS
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <i class="fas fa-home"></i>
                      </div>
                      <p class="card-category">Recuperados</p>
                      <h3 class="card-title">+3.9 Mill</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">update</i>Informe de la OMS
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                        <i class="fa fa-cross"></i>
                      </div>
                      <p class="card-category">Víctimas totales</p>
                      <h3 class="card-title">+4.27 K</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">update</i>Informe de la OMS
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="fas fa-hand-holding-medical"></i>
                      </div>
                      <p class="card-category">Casos Activos</p>
                      <h3 class="card-title">+3.4 Mill</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i>Informe de la OMS
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-primary">
                      <div class="ct-chart" id="monthCasesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Casos por mes</h4>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-primary">
                      <div class="ct-chart" id="weekCasesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Casos Última Semana</h4>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="monthDeathsChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Muertes por mes</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="weekDeathsChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Muertes Última Semana</h4>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
