<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h3 class="card-title">Recomendaciones</h3>
              <p class="card-category">Para más información: Visita la página de la
                  <a target="_blank" href="https://www.who.int/es/emergencies/diseases/novel-coronavirus-2019">OMS</a>
              </p>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6">
                      <h4 class="card-title">Cómo prevenir?</h4>
                      <div class="alert alert-info alert-with-icon" data-notify="container">
                          <i class="material-icons" data-notify="icon">add_alert</i>
                          <span data-notify="message">Mantén una dieta balanceada.</span>
                      </div>
                      <div class="alert alert-info alert-with-icon" data-notify="container">
                          <i class="material-icons" data-notify="icon">add_alert</i>
                          <span data-notify="message">Usa mascarillas adecuadas cuando salgas.</span>
                      </div>
                      <div class="alert alert-info alert-with-icon" data-notify="container">
                        <i class="material-icons" data-notify="icon">add_alert</i>
                        <span data-notify="message">Evita tocarte los ojos y la cara.</span>
                      </div>
                      <div class="alert alert-info alert-with-icon" data-notify="container">
                        <i class="material-icons" data-notify="icon">add_alert</i>
                        <span data-notify="message">No slagas de casa a menos que sea necesario</span>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <h4 class="card-title">Cómo detectar?</h4>
                      <div class="alert alert-warning alert-with-icon" data-notify="container">
                           <i class="material-icons" data-notify="icon">add_alert</i>
                           <span data-notify="message">Fiebre</span>
                      </div>
                      <div class="alert alert-warning alert-with-icon" data-notify="container">
                          <i class="material-icons" data-notify="icon">add_alert</i>
                          <span data-notify="message">Tos seca</span>
                      </div>
                      <div class="alert alert-warning alert-with-icon" data-notify="container">
                        <i class="material-icons" data-notify="icon">add_alert</i>
                        <span data-notify="message">Cansancio.</span>
                    </div>
                    <div class="alert alert-warning alert-with-icon" data-notify="container">
                        <i class="material-icons" data-notify="icon">add_alert</i>
                        <span data-notify="message">Dolor de garganta</span>
                    </div>
                    <div class="alert alert-warning alert-with-icon" data-notify="container">
                        <i class="material-icons" data-notify="icon">add_alert</i>
                        <span data-notify="message">Diarrea.</span>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
